# Dependencies
node_modules

# Source
src

# Scripts
script

# git
.git
.gitignore

# Misc
**.sh
.env
.DS_Store

# Config
tsconfig.json

# Docker
Dockerfile

# Jenkins
Jenkinsfile

# Misc
README.md
LICENSE.md

# Webpack
webpack.config.js
webpack.config.prod.js
