# Dependencies
node_modules/

# Scripts
scripts/
**.sh

# Source
src/

# Env Files
.env

# git
.git
.gitignore

# Docker
Dockerfile

# Jenkins
Jenkinsfile

# Misc
README.md
LICENSE.md
.DS_Store

# Config
tsconfig.json

# Webpack
webpack.config.js
webpack.config.prod.js
